.divsong{
    float: top;
}

#song {
    background-color:;
    border:2px solid skyblue ;
    width: 200px;
    color: skyblue;
    }

   

#header{
    font-size: 40px;
    background-color: ;
    width:100%;
    margin:0px;
    border:10px solid skyblue;
    border-radius: 20px;
    color: skyblue;
    font-family: 'Nunito', sans-serif;
}
body{
    background-size:repeat;
}

canvas{
    border: 5px dashed skyblue;
    margin-top: 200px;
}
.note{
    padding: 10px;
    font-size: 15px;
    background-color: ;
    color: skyblue;
    border-radius: 20px;
}